main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

main > * {
  margin: 1rem 0;
}

.bold {
  font-weight: bold;
}

.property-select {
  margin-bottom: 3px;
  cursor: pointer;
  color: var(--panel-tab-foreground);
  line-height: 20px;
}

.property-select::before {
  content: ' ';
  display: inline-block;
  width: 3px;
  background: transparent;
  height: 18px;
  margin-bottom: -5px;
  margin-right: 5px;
}

.property-select:hover {
  color: var(--panel-tab-active-foreground);
  fill: currentcolor;
}

.property-select:hover::before {
  background-color: var(--panel-tab-active-foreground);
}

.property-select.active {
  color: var(--panel-tab-active-foreground);
  fill: currentcolor;
}

.property-select.active::before {
  background-color: var(--panel-tab-active-foreground);
}

.border-right {
  border-right: calc(var(--border-width) * 1px) solid var(--divider-background);
}

vscode-panel-view > div.row {
  width: 100%;
}

vscode-divider {
  margin: 0 !important;
}